<h1>Welcome to the world of blog</h1>
<p>Come on, go to write a blog right now</p>
<IMG SRC="http://blog.book-fair.com/files/2012/09/wordle_engl_3.png" ALT="pic" WIDTH=450 HEIGHT=320>
<p><a href="/articles">click here to explore the world of blog</a></p>
